<span style='font-size:medium'><span style='font-family:arial black'>**`Basic Python`**</span></span>

<span style='font-size:medium'><span style='font-family:arial black'>**`1. Split this string`**</span></span>

In [2]:
s ="Hi there Sam!"

In [3]:
x=s.split()
x

['Hi', 'there', 'Sam!']

2. <span style='font-size:medium'>**Use .format\(\) to print the following string.**</span>

<span style='font-size:medium'>**Output should be: The diameter of Earth is 12742 kilometers.**</span>

In [0]:
planet = "Earth"
diameter = 12742

In [4]:
x="The diameter of {planet} is {diameter} kilometers.".format(planet = "Earth" ,diameter =12742)
print(x)

The diameter of Earth is 12742 kilometers.

<span style='font-size:medium'>**3. In this nest dictionary grab the word "hello"**</span>

In [8]:
d ={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

<span style='font-size:medium'>**Numpy**</span>

In [11]:
import numpy as np

<span style='font-family:arial'><span style='font-size:medium'>**4.1 Create an array of 10 zeros?**</span></span>

<span style='font-family:arial'><span style='font-size:medium'>**4.2 Create an array of 10 fives?**</span></span>

In [12]:
arr=np.zeros(10)
arr

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [13]:
arr=np.ones(10)*5
arr

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

<span style='font-size:medium'>**5. Create an array of all the even integers from 20 to 35**</span>

In [14]:
arr=np.arange(20,35,2)
arr

array([20, 22, 24, 26, 28, 30, 32, 34])

6. <span style='font-size:medium'>**C**</span>**reate a 3x3 matrix with values ranging from 0 to 8**

In [15]:
arr=np.arange(0,9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

7. <span style='font-size:medium'>**Concatenate a and b**</span>
   <span style='font-size:medium'>**a = np.array\(\[1, 2, 3\]\), b = np.array\(\[4, 5, 6\]\)**</span>

In [16]:
a= np.array([1,2,3])
b=np.array([4,5,6])
c =np.concatenate((a,b))
c

array([1, 2, 3, 4, 5, 6])

<span style='font-size:medium'>**Pandas**</span>

<span style='font-size:medium'>**8. Create a dataframe with 3 rows and 2 columns**</span>

In [0]:
import pandas as pd

In [17]:
import pandas as pd
data=[['apple',10],['banana',15],['carrot',20]]
df=pd.DataFrame(data,columns=['Name','count'])
df

     Name  count
0   apple     10
1  banana     15
2  carrot     20

`9.`<span style='font-size:medium'> **`Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023`**</span>

In [18]:
import pandas as pd
from datetime import datetime

pd.date_range(start="2023-01-01",end="2023-02-10").to_pydatetime().tolist()

[datetime.datetime(2023, 1, 1, 0, 0),
 datetime.datetime(2023, 1, 2, 0, 0),
 datetime.datetime(2023, 1, 3, 0, 0),
 datetime.datetime(2023, 1, 4, 0, 0),
 datetime.datetime(2023, 1, 5, 0, 0),
 datetime.datetime(2023, 1, 6, 0, 0),
 datetime.datetime(2023, 1, 7, 0, 0),
 datetime.datetime(2023, 1, 8, 0, 0),
 datetime.datetime(2023, 1, 9, 0, 0),
 datetime.datetime(2023, 1, 10, 0, 0),
 datetime.datetime(2023, 1, 11, 0, 0),
 datetime.datetime(2023, 1, 12, 0, 0),
 datetime.datetime(2023, 1, 13, 0, 0),
 datetime.datetime(2023, 1, 14, 0, 0),
 datetime.datetime(2023, 1, 15, 0, 0),
 datetime.datetime(2023, 1, 16, 0, 0),
 datetime.datetime(2023, 1, 17, 0, 0),
 datetime.datetime(2023, 1, 18, 0, 0),
 datetime.datetime(2023, 1, 19, 0, 0),
 datetime.datetime(2023, 1, 20, 0, 0),
 datetime.datetime(2023, 1, 21, 0, 0),
 datetime.datetime(2023, 1, 22, 0, 0),
 datetime.datetime(2023, 1, 23, 0, 0),
 datetime.datetime(2023, 1, 24, 0, 0),
 datetime.datetime(2023, 1, 25, 0, 0),
 datetime.datetime(2023, 1, 26, 0, 0),
 datetime.datetime(2023, 1, 27, 0, 0),
 datetime.datetime(2023, 1, 28, 0, 0),
 datetime.datetime(2023, 1, 29, 0, 0),
 datetime.datetime(2023, 1, 30, 0, 0),
 datetime.datetime(2023, 1, 31, 0, 0),
 datetime.datetime(2023, 2, 1, 0, 0),
 datetime.datetime(2023, 2, 2, 0, 0),
 datetime.datetime(2023, 2, 3, 0, 0),
 datetime.datetime(2023, 2, 4, 0, 0),
 datetime.datetime(2023, 2, 5, 0, 0),
 datetime.datetime(2023, 2, 6, 0, 0),
 datetime.datetime(2023, 2, 7, 0, 0),
 datetime.datetime(2023, 2, 8, 0, 0),
 datetime.datetime(2023, 2, 9, 0, 0),
 datetime.datetime(2023, 2, 10, 0, 0)]

<span style='font-size:medium'>**10. Create 2D list to DataFrame**</span>

<span style='font-size:medium'>**lists = \[\[1, 'aaa', 22\], \[2, 'bbb', 25\], \[3, 'ccc', 24\]\]**</span>

In [22]:
lists =[[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [23]:
a=pd.DataFrame(lists)
a

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24